<div class="widget widget_best_sellers">
   <h3 class="widget_header">Best Sellers</h3>
   <div class="widget_content">
      <div class="product_listing_sidebar">
         <div class="wow product animated">
            <div class="prod_inside clearfix">
               <div class="product_img">  
                  <a href="/collections/congratulation/products/telefloras-fall-in-love">
                  <img src="//cdn.shopify.com/s/files/1/0770/6219/products/telefloras_fall_in_love_1_medium.png?v=1424095748" alt="Teleflora's Fall in Love">
                  </a>
               </div>
               <div class="product_info">
                  <div class="product_price">
                     <span class="money" data-currency-usd="$27.00" data-currency="USD">$27.00</span>
                  </div>
                  <div class="product_name">
                     <a href="/collections/congratulation/products/telefloras-fall-in-love">Teleflora's Fall in Love</a>
                  </div>
                  <div class="product_desc">Besides that they have othe...</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>