<div class="widget_related_products">
  <h3>Other fine products</h3>
  <div class="widget_content">
     <ul class="row product_listing_main product_listing_related">
        <li class="wow col-sm-3 product product__1 animated">
           <div class="prod_inside clearfix">
              <div class="product_img">
                 <a href="/collections/congratulation/products/asiatic-lilies" title="Asiatic Lilies"><img src="//cdn.shopify.com/s/files/1/0770/6219/products/asiatic_lilies_1_compact.png?v=1424095633" alt="Asiatic Lilies"></a>
              </div>
              <div class="product_info">
                 <div class="product_name"><a href="/products/asiatic-lilies" title="Asiatic Lilies">Asiatic Lilies</a></div>
                 <div class="product_price"><span class="money" data-currency-usd="$15.00" data-currency="USD">$15.00</span></div>
              </div>
           </div>
        </li>
        <li class="wow col-sm-3 product product__2 animated">
           <div class="prod_inside clearfix">
              <div class="product_img">
                 <a href="/collections/congratulation/products/bouquet-of-long-stemmed-roses-dozen-with-vase" title="Bouquet of Long Stemmed Roses (Dozen) - With Vase"><img src="//cdn.shopify.com/s/files/1/0770/6219/products/bouquet_of_long_stemmed_roses__dozen__-_with_vase_1_compact.png?v=1424095652" alt="Bouquet of Long Stemmed Roses (Dozen) - With Vase"></a>
              </div>
              <div class="product_info">
                 <div class="product_name"><a href="/products/bouquet-of-long-stemmed-roses-dozen-with-vase" title="Bouquet of Long Stemmed Roses (Dozen) - With Vase">Bouquet of Long S...</a></div>
                 <div class="product_price"><span class="money" data-currency-usd="$17.00" data-currency="USD">$17.00</span></div>
              </div>
           </div>
        </li>
        <li class="wow col-sm-3 product product__3 animated">
           <div class="prod_inside clearfix">
              <div class="product_img">
                 <a href="/collections/congratulation/products/calla-lilies-with-matching-greens" title="Calla Lilies with Matching Greens"><img src="//cdn.shopify.com/s/files/1/0770/6219/products/calla_lilies_with_matching_greens_1_compact.png?v=1424095662" alt="Calla Lilies with Matching Greens"></a>
              </div>
              <div class="product_info">
                 <div class="product_name"><a href="/products/calla-lilies-with-matching-greens" title="Calla Lilies with Matching Greens">Calla Lilies with...</a></div>
                 <div class="product_price"><span class="money" data-currency-usd="$18.00" data-currency="USD">$18.00</span></div>
              </div>
           </div>
        </li>
        <li class="wow col-sm-3 product product__4 animated">
           <div class="prod_inside clearfix">
              <div class="product_img">
                 <a href="/collections/congratulation/products/classic-roses" title="Classic Roses"><img src="//cdn.shopify.com/s/files/1/0770/6219/products/classic_roses_1_compact.png?v=1424095671" alt="Classic Roses"></a>
              </div>
              <div class="product_info">
                 <div class="product_name"><a href="/products/classic-roses" title="Classic Roses">Classic Roses</a></div>
                 <div class="product_price"><span class="money" data-currency-usd="$19.00" data-currency="USD">$19.00</span></div>
              </div>
           </div>
        </li>
     </ul>
  </div>
</div>