<div class="widget wow widget_banner animated">
  <a href="#">
     <div class="ins">
        <h3>-30<span>%</span></h3>
        <h4>for spring flowers</h4>
     </div>
     <img src="{{ asset('assets/images/banner.png') }}" alt="-30 -30">
  </a>
</div>