<div class="column_left column col-sm-3">
   <!-- Best sellers -->
   {{ include('FrontBundle:Product:best_sellers.html.twig') }}
   <!-- END Best sellers -->

   <!-- Best sellers -->
   {{ include('FrontBundle:Product:promotions.html.twig') }}
   <!-- END Best sellers -->
</div>