<div class="container">
   <div class="custom_bottom wow animated">
      <div class="parallax_box1">
         <a href="#products/blooming-12-long-stemmed-assorted-rose-bouquet">
         <span class="title1">Hot Offer!</span>
         <span class="title2">Fast Same Day Delivery</span>
         </a>
      </div>
      <script type="text/javascript">
         (function($) {
           if(device.desktop() && $(window).width() >= 1200){
             // PARALLAX INIT
             $(window).load(function() {
               $('.parallax_box1').parallax("right", -0.2);
             });
         
           };
         })(jQuery);
      </script>
   </div>
</div>