<div class="header_main wow animated">
   <!-- LOGO -->
   <div id="logo">
      <a href="/">
         <img src="{{ asset('assets/images/logo.png') }}" alt="Sunny Flowers">
         <div class="ins">
            <b>Sunny Flowers</b>
            <span>The biggest choice on the web</span>
         </div>
      </a>
   </div>
   <!-- HEADER SEARCH -->
   <div class="header_search">
      <form action="#search" method="get" class="search-form" role="search">
         <input id="search-field" name="q" type="text" placeholder=" " class="hint">
         <button id="search-submit" type="submit"><i class="fa fa-search"></i></button>
      </form>
   </div>
</div>