<div id="pagination">
   <span class="page current">1</span>
   <span class="page"><a href="#page=2" title="">2</a></span>
   <span class="next"><a href="#page=2" title="">{{ 'next.label'|trans }} »</a></span>
</div>