<div id="main_content" class="col-sm-9">
<div class="text-center">
  <h1 class="page_heading">404 Page Not Found</h1>
  <h2>The product does not exist. Click <a href="{{ url('front_homepage') }}">here</a> to continue shopping.</h2>
</div>
</div>