<div class="container">
   <!-- SHOWCASE CUSTOM BLOCKS -->
   <div id="showcase">
      <div class="parallax_box">
         <div class="row">
            <div class="col-sm-12 custom_showcase opacity_block">
               <a href="#products/bouquet-of-long-stemmed-roses-dozen-with-vase">
                  <div class="ins wow animated">
                     <h4>Find the freshest flowers and hand tied</h4>
                     <h3>bouquets for all occasions</h3>
                  </div>
               </a>
            </div>
         </div>
         <script type="text/javascript">
            (function($) {
              if(device.desktop() && $(window).width() >= 1200){
            // PARALLAX INIT
            $(window).load(function() {
            $('.parallax_box').parallax("50%", -0.4);
            });
            
            };
            })(jQuery);
         </script>
      </div>
   </div>
</div>