{% if banners is defined and banners.top is defined and banners.top %}
{% for top_banner in banners.top %}
<div class="container">
   <!-- SHOWCASE CUSTOM BLOCKS -->
   <div id="showcase">
      <div class="parallax_box" style="background-image: url('{{ banner_path }}/{{ top_banner.image }}')">
         <div class="row">
            <div class="col-sm-12 custom_showcase opacity_block">
               <a href="{{ top_banner.link|default('#') }}">
                  <div class="ins wow animated">
                     <h3>{{ top_banner.title }}</h3>
                  </div>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
{% endfor %}
<script type="text/javascript">
   (function($) {
     if(device.desktop() && $(window).width() >= 1200){
   // PARALLAX INIT
   $(window).load(function() {
   $('.parallax_box').parallax("50%", -0.4);
   });

   };
   })(jQuery);
</script>
{% endif %}